@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
  scroll-behavior: smooth;
}
:root {
  --text-color: #f5f5f5;
  --hover-color: #0ef;
  --bif-font: 2.5rem;
  --norma-font: 2rem;
  --neon-box-shadow: 0 0 .5rem #0ef;
  --h2-font: 3rem;
  --font-neon-text-shadow: 0 0 10px  rgba(0, 238, 255, 1),
  0 0 20px  rgba(0, 238, 255, 1),
  0 0 30px  rgba(0, 238, 255, 1),
  0 0 40px  rgba(0, 238, 255, 1),
  0 0 70px  rgba(0, 238, 255, 1),
  0 0 80px  rgba(0, 238, 255, 1),
  0 0 100px  rgba(0, 238, 255, 1),
  0 0 150px  rgba(0, 238, 255, 1);
}

body {
  color: var(--text-color);
  justify-content: space-between;
  width: 100%;
  background: url(images/background-picture.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 5%;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.logo {
  width: 70px;
  height: auto;
  margin-right: 20px;
}


.navbar a {
  display: inline-block;
  font-size: 25px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: .3s;
  opacity: 0;
  animation: slideTop .5s ease forwards;
  animation-delay: calc(.2s * var(--i));

}

.navbar a:hover {
  color: var(--hover-color);
  text-shadow: 0 0 10px  rgba(0, 238, 255, 1),
  0 0 20px  rgba(0, 238, 255, 1),
  0 0 30px  rgba(0, 238, 255, 1),
  0 0 40px  rgba(0, 238, 255, 1),
  0 0 70px  rgba(0, 238, 255, 1),
  0 0 80px  rgba(0, 238, 255, 1),
  0 0 100px  rgba(0, 238, 255, 1),
  0 0 150px  rgba(0, 238, 255, 1);
}

#menu-icon {
  font-size: 1.8rem;
  z-index: 10001;
  cursor: pointer;
  margin-left: 25px;
  background: var(--hover-color);
  border-radius: 3px;
  color:#081b29;
  display: none;
}
section {
  padding: 100px 5%;
}

.home {
  position: relative;
  width: 100%;
  justify-content: space-between;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
  grid-gap: 4em;
  margin-top: 140px;
  
}

.home-content {
  max-width: 600px;
}

.home-content h3 {
  font-size: 32px;
  font-weight: 700;
  opacity: 0;
  animation: slideBottom 1s ease forwards;
  animation-delay: .7s;
}

.home-content h3:nth-of-type(2) {
  margin-bottom: 30px;
  animation: slideTop 1s ease forwards;
  animation-delay: .7s;
}

 span {
  color: #0ef;
}

.home-content h1 {
  font-size: 48px;
  font-weight: 700;
  margin: -3px 0;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 1s;
}

.home-content p {
  font-size: 19px;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 1s;
}

.profile-picture1 {
  width: 150%;
  max-width: 300px;
  height: auto;
  border-radius: 50%;
  box-shadow: 0 0 10px 0 rgba(255, 0, 255, 0.7), 0 0 10px 0 rgba(0, 191, 255, 0.7);
}

.home-sci a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #0ef;
  border-radius: 50%;
  font-size: 20px;
  color: #0ef;
  text-decoration: none;
  transition: .5s ease;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: calc(.2s * var(--i));
  margin: 30px 15px 30px 0;
}

.home-sci a:hover {
  color: #081b29;
  box-shadow: 0 0 20px #0ef;
}

.btn-box {
  display: inline-block;
  padding: 12px 28px;
  background: #0ef;
  border-radius: 40px;
  font-size: 16px;
  color: #081b29;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  margin-left: 25px;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 2s;
  box-shadow: 0 0 5px #0ef,
    0 0 25px #0ef
}


.btn-box:hover {
  box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan,
    0 0 100px cyan;
}
.profile-picture2 {
  width: 100%;
  height: auto;
  border-radius: 50%;
  box-shadow: 0 0 10px 0 rgba(255, 0, 255, 0.7), 0 0 10px 0 rgba(0, 191, 255, 0.7);
}

.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1.5rem;
}
.about-img img {
  max-width: 300px;
  height: auto;
  width: 100%;
  margin-left: 200px;
}
.about-text h2 {
  font-size: 40px;
}
 span {
  color: #0ef;
}
.about-text h4 {
  font-size: 29px;
  font-weight: 600;
  color: #fff;
  line-height: 1.7;
  margin: 15px 0 25px;
}
.about-text p {
  color: aliceblue;
  font-size: 15px;
  line-height: 1.4;
  margin-bottom: 2rem;
  margin-right: 40px;
}
.about-text {
  margin-right: 0;
}
#services {
  color: aliceblue;
  font-size: 19px;
  line-height: 1.4;
  margin-bottom: 4rem;
}
.sub-title {
  width: 100%;
  margin-bottom: 2rem;
  text-align: center;
  font-size: 30px;
}
 span {
  color: #0ef;
}

.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(259px,1fr));
  grid-gap: 40px;
  margin-top: 50px;
}
.services-list div {
  background-color: #051129;
  padding: 20px;
  font-size: 13px;
  font-weight: 13px;
  border-right: 10px;
  border-radius: 20px;
  transition: background 0.5s, transform 0.5s;
  box-shadow: 1px 1px 20px #012290f7,
            1px 1px 40px #0053b8f7;
}
.services-list div i {
  font-size: 50px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center; 
  align-items: center;
 
}
.services-list div h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
  display: flex;
  justify-content: center; 
  align-items: center;
}
.services-list div a {
  text-decoration: none;
  color: #000000;
  font-size: 12px;
  margin-top: 20px;
  display: inline-flex; 
}

.service-icon {
  padding: 5px;
  margin-bottom: 2px;
  background: #051129;
  display: flex;
  align-items: center;
  font-size: 2rem;
  position: relative;
  color: #0ef;
}
.read {
  display: inline-block;
  padding: 12px 28px;
  background: #0ef;
  border-radius: 40px;
  font-size: 16px;
  color: #081b29;
  letter-spacing: 1px;
  font-weight: 600;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 2s;
  box-shadow: 0 0 5px #0ef,
  0 0 25px #0ef;
}
.read:hover {
  box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan,
    0 0 100px cyan;
}
.services-list div:hover {
  transform: translateY(-10px);
}

.skills {
  background: transparent;
}
.skill-main {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-row-gap: 30px;
  grid-column-gap: 50px;
}
.skill-bar {
  margin-bottom: 2.3rem;
}
.skill-main h3 {
  margin-bottom: 2rem;
  font-size: var(--norma-font);
  text-align: center;
}
.skill-left .skill-bar .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}
.skill-left .skill-bar .bar {
  width: 100%;
  height: 10px;
  background-color: #081b29;
  border-radius: 25px;
  margin-top: 10px;
  position: relative;
}
.skill-bar .bar span {
  width: 50%;
  height: 100%;
  position: absolute;
  left: 0;
  background: #0ef;
  border-radius: 25px;
  box-shadow: var(--neon-box-shadow);
}
.skill-bar .bar .html {
  width: 75%;
  animation: html 2s;
}
.skill-bar .bar .css {
  width: 79%;
  animation: css 3s;
}
.skill-bar .bar .javascript {
  width: 72%;
  animation: javascript 4s;
}
.skill-bar .bar .react {
  width: 67%;
  animation: react 5s;
}
.skill-bar .bar .angular {
  width: 59%;
  animation: angular 6s;
}







@keyframes showText {
  100% {
    opacity: 1;
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes slideTop {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes slideBottom {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

